/*==========================================================
                        C U S T O M
==========================================================*/

/* DEFAUTL NAME BUTTON */
.under main .btn a{width: 250px; height: 60px;background :var(--mcolor);color: #fff;line-height: 1.5em;text-align: center;    flex-direction: column;}
.under main  .btn a::before{background: url('../images/ic_white.svg') center /cover no-repeat;width:23px;height:13px;position:absolute;top:calc(50% - 6px);right:15px;content:'';}
.under main  .btn.center a{margin-left: auto; margin-right: auto;}

.under main  .btn_big a{width: 400px;font-size: 22px;}
.under main  .btn_big a .ic{padding-left: 30px;position: relative;}
.under main  .btn_big a .ic::before { position: absolute;content: "";left: 0;top: calc(50% - 6px);background: url(../images/ic_email.svg) center / cover no-repeat;width: 21px;height: 16px;}

.under main img{box-shadow: 0 6px 0px rgba(0, 0, 0, 0.16);border-radius: 10px;}
.under main .inner{width: 1050px;max-width: 100%;}
.under main .image_l{float:left;margin:0 50px 0 0}
.under main .image_r{float:right;margin:0 0 0 50px}

/* MB */
.under main .mb10{margin-bottom:10px}
.under main .mb15{margin-bottom:15px}
.under main .mb20{margin-bottom:20px}
.under main .mb25{margin-bottom:25px}
.under main .mb30{margin-bottom:30px}
.under main .mb40{margin-bottom:40px}
.under main .mb50{margin-bottom:50px}
.under main .mb60{margin-bottom:60px}
.under main .mb70{margin-bottom:70px}
.under main .mb80{margin-bottom:80px}
.under main .mb90{margin-bottom:90px}
.under main .mb100{margin-bottom:100px}
.under main .mb120{margin-bottom:120px}
.under main .mb150{margin-bottom:150px}

/* MT */
.under main .mt10{margin-top:10px}
.under main .mt15{margin-top:15px}
.under main .mt20{margin-top:20px}
.under main .mt25{margin-top:25px}
.under main .mt30{margin-top:30px}
.under main .mt40{margin-top:40px}
.under main .mt50{margin-top:50px}

/*==========================================================
                        H E A D I N G
==========================================================*/
.under main h2,
.under main h3,
.under main h4,
.under main h5,
.under main h6,
.under main .wpContent h3,
.under main .wpContent h4,
.under main .wpContent h5,
.under main .wpContent h6{font-weight: bold;margin-bottom: 27px;letter-spacing: 0.05em;}

.under main h2{font-size: 32px; text-align: center;margin-bottom: 0;color: var(--mcolor);}

.under main h3,
.under main .wpContent h3{font-size: 25px;text-align: center;font-weight: bold;}
.under main h3 .tt_h3{display: inline-block;color: #fff;background: var(--mcolor);border-radius: 6px;padding: 6px 19px 7px;}

.under main h4,
.under main .wpContent h4{font-size: 24px;position: relative;color: var(--scolor);line-height: 2.25em;}
.under main h4 span{display: inline-block;background: url('../images/ic_h4.png') left top 2px repeat;padding-bottom: 13px;width: 100%;position: relative;}
.under main h4 span::before{background: #fff;width: 100%;height: 2px;position: absolute;top: 0;left: 0;content: '';}
.under#confirm main  h4 span::before,.under#event_confirm main  h4 span::before,.under#thanks main  h4 span::before,.under#event_thanks main  h4 span::before{background: #F7F7F7}
.under main h5,
.under main .wpContent h5{font-size: 22px;color: var(--mcolor);line-height: 1.59em;}

.under main h6,
.under main .wpContent h6{font-size: 20px;color: var(--blue);}

/*==========================================================
                      MAIN - CONTENT
==========================================================*/
.under main #content{padding: 0 0 348px;word-break: break-word;}
.under main section{padding:0 0 70px;margin-bottom:0}
.under main section:last-child{padding:0}

/* LINK + BUTTON TOP */
.under main{position: relative;}
.under main::before,
.under main::after{position: absolute;top: 1244px;left: calc(50% - 960px);width: 222px;height: 100%;background: url('../images/ic_main_l.png') left top repeat-y;content: '';z-index: 2;}
.under main::after{left: inherit;right: calc(50% - 952px);background: url('../images/ic_main_r.png') right top repeat-y;top: 1206px;width:226px;}
.under main .link{text-decoration: underline;color: var(--mcolor);text-underline-offset: 3px;}

/*============ TOP INFO ============ */
.under main #top_info{width:100%;max-width:1920px;margin:0 auto;background: #edeae3;padding-top: 520px;position: relative;z-index: -1;}
.under main #top_info::before{background:url('../images/top_info_bg.jpg') no-repeat center /cover;width: 1920px;height: 1247px;position: absolute;top: 0;left: calc(50% - 960px);content: '';z-index: 1;}
.under main #top_info .inner{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;height:100%;position: relative;z-index: 2;}
.under main #top_info .en{font-family: var(--en);font-weight: bold;text-transform: uppercase;letter-spacing: 0.05em;color: #AABFAF;margin-bottom: 7px;}
.under main .page_404 #top_info .inner{height: auto}
/*==========================================================
                    T O P I C   P A T H
==========================================================*/
.under main #topic_path{margin:36px 0 62px;position: relative;z-index: 0;}
.under main #topic_path ul{display:flex;justify-content: center;flex-wrap: wrap;padding: 0 30px 0 34px;}
.under main #topic_path li{margin: 1.5px;display: flex;align-items: center;justify-content: center;font-weight: bold;border-radius: 999px;overflow: hidden;font-size: 14px;line-height: 1.75em;letter-spacing: 0.05em;}
.under main #topic_path li a{width: 100%;height: 100%;color: #fff;background: var(--mcolor);padding: 0 10px 1px;}
.under main #topic_path li:last-child{margin-right: 0;background: #ECEAE3;padding: 0 10px 1px;}

.under main .box_under{background: #F7F7F7;border-radius: 20px;padding: 60px;margin: 62px 0 60px;}
.under main .box_under.mb10{margin-bottom: 10px;}
.under main .img_big{margin-top: 47px;}

.under main .box_img{min-height: 410px;display: flex;padding-left: 470px;position: relative;flex-direction: column;justify-content: center;}
.under main .box_img p{letter-spacing: 0.025em;}
.under main .box_img .img{position: absolute;top: 0;left: 0;}
.under main .box_img .img img{border-radius: 10px;box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.16);}
.under main .box_img.img_r{padding-left: 0;padding-right: 470px;}
.under main .box_img.img_r .img{left: inherit;right: 0;}

.under main .box_h5{min-height: 370px;display: flex;position: relative;flex-direction: column;justify-content: center;background: #F7F7F7;border-radius: 20px;padding: 60px 70px;padding-left: 375px;}
.under main .box_h5:not(:last-child){margin-bottom: 10px;}
.under main .box_h5 p{letter-spacing: 0.025em;}
.under main .box_h5 .img img{border-radius: 50%;box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.16);}

/*==========================================================
                        T A B L E
==========================================================*/
.under main table.td_top td{vertical-align:top}
.under main table.tb_fix{table-layout: fixed;}
.under main table{margin-bottom: 30px;border-collapse: separate;border-spacing: 0 10px;}
.under main table.mailform th,
.under main table th,.under main table th p{color: var(--mcolor);font-weight: 700;font-size: 16px;}
.under main table.mailform th span{color:#fff}
.under main table.mailform td .info{color:var(--mcolor)}

.under main table td{border-color: var(--mcolor);background:#fff;}
.under main table th,
.under main table td{padding: 17px;border-width: 6px;}
.under main table img{display:block;margin:auto;}

.under main table th{border-color: var(--mcolor);border-right-color: #fff;border-right: none;}
.under main table tr th:first-child{border-left-color: var(--mcolor);}
.under main table tr th:last-child,.under main table tr:last-child td{border-right-color: var(--mcolor);border-bottom: 6px solid var(--mcolor);}
.under main table.mailform th,
.under main table.tb_block th{border-color: var(--mcolor);}
.under main table.mailform tr:first-child th,
.under main table.tb_block tr:first-child th{border-top-color: var(--mcolor);}  
.under main table.mailform tr:last-child th,
.under main table tr:last-child th{border-bottom-color: var(--mcolor);border-bottom: 6px solid var(--mcolor);}
.under main table.tb_block td{border-left: none}
.under main .tb_layout{}
.under main .tb_layout dl{border:6px solid var(--mcolor);padding: 30px;display: flex;align-items: center;margin-bottom: 10px;justify-content: flex-start;}
.under main .tb_layout dl:last-child{margin-bottom: 0;}
.under main .tb_layout dt{color: var(--mcolor);font-weight: bold;width: 200px;text-align: center;flex-shrink: 0;}
.under main .tb_layout dd{}

.under main .tb_layout_col{display: flex;justify-content: space-between;}
.under main .tb_layout_col dl{width: 48%;}
.under main .tb_layout_col dt{border:6px solid var(--mcolor);padding: 15px;font-weight: bold;color: var(--mcolor);margin-bottom: 10px;text-align: center;}
.under main .tb_layout_col dd{border:6px solid var(--mcolor);padding: 15px 30px;}

/*============ LIST ============ */
/* LIST 01 */
.under main .list01,
.under main .wpContent ul{margin-bottom: 30px;}
.under main .list01 li,
.under main .wpContent ul li{display:block;padding-left:35px;margin-bottom:11px;position:relative;font-weight: bold;letter-spacing: 0;}
.under main .list01 li::before,
.under main .wpContent ul li::before{width:23px;height:13px;position:absolute;top:10px;left:0;content:'';}

.under main .list01 li:nth-child(3n+1)::before,
.under main .wpContent li:nth-child(3n+1)::before{background: url('../images/ic_red.svg') center /cover no-repeat;}
.under main .list01 li:nth-child(3n+2)::before,
.under main .wpContent li:nth-child(3n+2)::before{background: url('../images/ic_blue.svg') center /cover no-repeat;}
.under main .list01 li:nth-child(3n)::before,
.under main .wpContent li:nth-child(3n)::before{background: url('../images/ic_yel.svg') center /cover no-repeat;}

/* LIST 02 */
.under main .list02, .under main .wpContent ol{margin-bottom: 30px;counter-reset: list-counter;}
.under main .list02 li, .under main .wpContent ol li{counter-increment: list-counter;padding-left: 50px;position: relative;margin-bottom: 13px;padding-top: 4px;letter-spacing: 0;}
.under main .list02 li::before, .under main .wpContent ol li:before{content: "0" counter(list-counter, decimal);position: absolute;width: 37px;height: 37px;display: flex;justify-content: center;align-items: center;border-radius: 7px;left: 0; top: 0;font-size: 22px;font-weight: bold;color: #FFF;line-height: 1em;padding: 0 0 2px 2px;}

.under main .list02 li:nth-child(n+10)::before, .under main .wpContent ol li:nth-child(n+10)::before{content: counter(list-counter, decimal);}
.under main .list02 li:nth-child(3n+1)::before, .under main .wpContent ol li:nth-child(3n+1)::before{background: var(--org);}
.under main .list02 li:nth-child(3n+2)::before, .under main .wpContent ol li:nth-child(3n+2)::before{background: var(--blue);}
.under main .list02 li:nth-child(3n)::before, .under main .wpContent ol li:nth-child(3n)::before{background: var(--yel);}

/* LIST STEP */
.under main .list_step{}
.under main .list_step li{position: relative;border:3px solid var(--org);padding: 20px;margin-bottom: 60px;font-size: 20px;font-weight: bold;}
.under main .list_step li span{background: var(--org);color: #fff;padding: 5px 15px;border-radius: 5px;margin-right: 15px;font-family: var(--en);}
.under main .list_step li:not(:last-child)::before{content: "";display: inline-block;width: 0;height: 0;border-style: solid;border-width: 30px 45px 0px 45px;border-color: var(--org) transparent transparent transparent;position: absolute;bottom: -50px;left: calc(50% - 45px);}

.under main .list_step li:nth-child(3n+1){border-color: var(--org);color: var(--org)}
.under main .list_step li:nth-child(3n+2){border-color: var(--blue);color: var(--blue)}
.under main .list_step li:nth-child(3n){border-color: var(--yel);color: var(--yel)}

.under main .list_step li:nth-child(3n+1) span{background: var(--org);}
.under main .list_step li:nth-child(3n+2) span{background: var(--blue);}
.under main .list_step li:nth-child(3n) span{background: var(--yel);}

.under main .list_step li:nth-child(3n+1)::before{border-color: var(--org) transparent transparent transparent;}
.under main .list_step li:nth-child(3n+2)::before{border-color: var(--blue) transparent transparent transparent;}
.under main .list_step li:nth-child(3n)::before{border-color: var(--yel) transparent transparent transparent;}

/* LIST BTN */
.under main .list_btn{display: flex;justify-content: center;}
.under main .list_btn .btn{margin-bottom: 10px;margin-right: 15px}
.under main .list_btn .btn:last-child{margin-right: 0}
.under main .list_btn .btn a{width: 320px;max-width: 100%;line-height: 1.25em;padding: 0 0 2px;}
.under main .list_btn .btn a .ic{padding-left: 35px;position: relative}
.under main .list_btn .btn a .ic::before{position: absolute;content:"";left: 0;top: calc(50% - 8px);background: url(../images/ic_email.svg) center /cover no-repeat;width: 21px;height: 16px;}
/* LIST 3IMG */
.under main .list_3img{display: flex;flex-wrap: wrap;}
.under main .list_3img li{width: 320px;margin-right: 30px;}
.under main .list_3img li:nth-child(3n + 3){margin-right: 0;}

/*============ FRAME ============ */
/* FRAME 01 */
.under main .frame01{border:3px solid var(--mcolor);padding:50px 30px;background: #F7F7F7;border-radius:10px;margin-bottom: 30px;}

/* IFRAME BOX */
.under main .box_map{width:100%;height:400px}
.under main .box_ytb{width: 900px;height: auto; margin: 0 auto;aspect-ratio: 16/9;max-width: 100%;}
.under main .box_map iframe,
.under main .box_ytb iframe{width:100%;height:100%;border:none;outline: none;}

/* ===========  PAGINATION WP ===========  */
.under main .wp_pagination {display: flex;justify-content: center;flex-wrap: wrap;margin-top: 40px;}
.under main .wp_pagination > span,
.under main .wp_pagination a{min-width: 40px;height: 40px;display: flex;justify-content: center;align-items: center;text-decoration: none;color: #fff;margin: 5px;text-align: center;font-weight: 500;line-height: 1em;transition: all 0.3s;padding: 5px;border: 1px #ccc solid;font-size: 14px;background: #ccc;}
.under main .wp_pagination a{color: var(--txt)}
.under main .wp_pagination > span {background: var(--mcolor);border: 1px var(--mcolor) solid;color: #fff;}

/*==========================================================
                        F O O T E R
==========================================================*/
footer{position: relative;z-index: 3;}
footer::before{background: url('../images/foot_bg.png') center /cover no-repeat;width: 1920px;height: 380px;position: absolute;top: -380px;left: calc(50% - 960px);content: '';z-index: -1;pointer-events: none;}
.ft_content{background: #c9ceba;position: relative;z-index: 2;padding: 87px 0 110px;}
.ft_content .inner{width: 1310px;display: flex;justify-content: space-between;position: relative;left: 8px;}

/* FOOTER INFORMATION */
.ft_info{}
.ft_info .ft_logo{margin-bottom: 55px;}
.ft_info p{color: #fff;font-size: 20px;letter-spacing: 0.075em;line-height: 1.5em;margin-bottom: 21px;}
.ft_info p.bold{margin-bottom: 30px;}
.ft_info .big{}
.ft_info .big .en{font-family: var(--en);}
.ft_info .big .en img{margin-right: 10px;position: relative;top: -2px;}

/* FOOTER LINK */
.ft_link{width: 522px;flex-shrink: 0;}
.ft_link ul {}
.ft_link ul li{width: 100%;height: 61px;margin-bottom: 10px;}
.ft_link ul li a{width: 100%;height: 100%;display: flex;align-items: center;border-radius: 6px;background: #ECEAE3;color: var(--txt);font-size: 18px;font-weight: bold;letter-spacing: 0.05em;padding: 2px 23px 0;position: relative;}
.ft_link ul li a::before{left: -18px;position: absolute;content: "";width: 27px;height: 13px;background: url(../images/ic_ft.svg) center /cover no-repeat;transition:0.3s all ease;opacity: 0;visibility: hidden}


address{color: #fff;font-size: 18px;letter-spacing: 0.075em;margin-top: 50px;position: absolute;bottom: 2px;left: 15px;}


.under main .form_frame {text-align: center;max-width: 500px;margin: 0 auto;background: var(--mcolor); color: #fff;}
.form_frame_ttl {font-size: 24px;font-weight: 600;margin: 0;}
.form_frame_tel {font-family: var(--f-en);font-size: 30px;margin: 0;}
.form_frame_tel a {font-size: 150%;font-weight: 600;color: #fff;}
.form_tb .must{background:red;font-size:80%;width:30px;display:inline-block;line-height:1em;padding:4px 3px 3px 3px;float:right;margin:7px 0 0;color:#fff}
.form_tb input[type="text"],.form_tb input[type="email"],.form_tb input[type="tel"]{width:100%;padding:5px;font-weight:400}
.form_tb textarea{width:100%!important;height:200px!important;border:1px solid #ddd;padding:5px;font-weight:400}
.form_tb input[name="your-zipcode"]{width:150px;margin-right:10px}
.btn_zipcode{display:inline-block;background:var(--mcolor);color:#fff;padding: 2px 10px 3px;cursor:pointer;transition:all .3s;position: relative;top: 2px;}
.form_btn{display:flex;justify-content:center;margin:0;flex-wrap:wrap;position:relative}
.form_btn input.form_btn_submit,.form_btn input.form_btn_send{background:url(../images/ic_white.svg) no-repeat right 15px center var(--mcolor);width:250px;border:none;color:#fff;cursor:pointer;border-radius:5px;padding:20px 15px 18px;transition:all .3s;margin:5px;font-family: var(--font-main);}
.form_btn input.form_btn_back{background:url(../images/ic_back.svg) no-repeat left 15px center var(--txt);width:250px;border:none;color:#fff;cursor:pointer;border-radius:5px;padding:20px 15px 18px;transition:all .3s;margin:5px;font-family: var(--font-main);}
.form_btn .wpcf7-spinner{position:absolute;bottom:-30px}
.under main .list_btn.center{justify-content:center}
.form_tb .wpcf7-list-item label{display:inline-flex;align-items:flex-start}
.form_tb .wpcf7-list-item label input{position:relative;top:10px;margin-right:5px}
.blog_content{display:flex;flex-direction:row-reverse;align-items:flex-start;justify-content:space-between}
.post_type{display: block}
.sidebar{width:250px;margin-right:50px;flex-shrink:0}
.sidebar_ttl{background:url(../images/ic_h4.png) left bottom repeat;padding-bottom:5px;width:100%;position:relative;text-align:center;color:var(--scolor);font-size:20px;font-weight:600;margin:0 0 20px}
.blog_main{width:calc(100% - 300px)}
.list_blog li .img{float:left;width:200px;height:130px;margin:0 20px 0 0;display:flex;justify-content:center;align-items:center;overflow:hidden;background:var(--gray);border-radius:10px}
.list_blog li .img img{flex-shrink:0;max-height:100%;border-radius:0;box-shadow: none;object-fit: cover;width: 100%;height: 100%;}
.list_blog li .date{font-family:var(--f-en);font-weight:700;margin:0 0 10px}
.list_blog li .link{text-decoration:none;font-size:20px;display:block;word-break: break-word;color: var(--mcolor)!important;}
.list_blog li{overflow:hidden;border-bottom:1px solid var(--gray);padding:0 0 30px;margin-bottom:30px}
.list_blog li a{text-decoration:none;display:block;overflow:hidden}
.sidebar_ttl:not(:first-child){margin-top:40px}
.blog_btn{display:flex;align-items:center;    justify-content: center;}
.blog_btn li:not(.btn_back){width:calc((100% - 200px)/2)}
.blog_btn li.btn_back{width:200px;text-align:center}
#event .blog_btn li.btn_back{margin:0 auto}
.blog_btn li.btn_back a{display:inline-block;background:var(--mcolor);color:#fff;text-align:center;border-radius:5px;width:130px;padding:10px}
.blog_btn_ttl{display:block;text-decoration:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.blog_btn li:not(.btn_back) a{display:block;padding:5px 10px;border-radius:5px}
.blog_btn_arr{background:url(../images/ic_prev.svg) no-repeat left top 8px/15px auto;padding-left:25px}
.nextPage .blog_btn_arr{background:url(../images/ic_next.svg) no-repeat right top 10px / 15px auto;padding-right:25px;margin:0 0 0 auto;display:block;text-align:right;padding-left:0}
.blog_img img{max-height:500px}
.list_event{display:flex;flex-wrap:wrap}
.list_event li{width:calc((100% - 60px) / 3);margin:0 30px 30px 0;line-height:1.75em}
.list_event li:nth-child(3n){margin-right:0}
.list_event li a{display:block;position:relative;padding:7px}
.list_event li .img{display:flex;height:200px;justify-content:center;align-items:center;overflow:hidden;background:var(--gray);border-radius:5px;margin-bottom:15px}
.list_event li .img img{max-height:100%;border-radius:0;box-shadow:none;object-fit: cover;width: 100%;height: 100%;}
.list_event li .status{position:absolute;width:70px;height:70px;top:140px;right:0;background:var(--scolor);display:flex;justify-content:center;align-items:center;color:#fff;border-radius:50%;text-align:center;line-height:1.3em;padding:5px;font-size:90%}
.list_event li .date{font-family: var(--f-en);font-weight: 700;margin: 0 0 10px;}
.list_event li.hide .status{background:var(--txt)}
.list_event li.hide a{pointer-events:none}
.list_event li.hide a:after{content:'';position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background:rgba(0,0,0,0.4);border-radius:5px}
.list_event li .title{text-decoration:none;line-height:1.75em;color:var(--txt);font-weight:600;display:block;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;height:60px;}
.list_event li .title:not(:last-child){margin-bottom:20px}
.list_event li .info{display:flex;margin-top:1px}
.list_event li .info_ttl{flex-shrink:0;width:70px;text-align:center;background:var(--mcolor);display:flex;justify-content:center;align-items:center;color:#fff}
.list_event li .info_txt{width:calc(100% - 71px);margin-left:1px;background:#f3f3f3;padding:5px 10px}
.event_row:not(:first-child){margin-top:60px}
.event_row li{display:flex;margin:0 0 2px}
.event_row li .info_ttl{flex-shrink:0;width:130px;text-align:center;background:var(--mcolor);display:flex;justify-content:center;align-items:center;color:#fff;padding:10px 15px}
.event_row li .info_txt{width:calc(100% - 132px);margin-left:1px;background:#f3f3f3;padding:10px 15px}

.form_tb .human{display: flex;}
.form_tb .human p{margin-bottom: 0;}
.form_tb .human p:not(:last-child){margin-right: 25px;}

.form_tb input[name="your-num"],
.form_tb input[name="your-num2"]{width:90px}
.form_tb input[name="your-title"]{pointer-events:none;background:var(--gray);border:1px solid #ddd}
.event_top{display:flex;margin-bottom:50px}
.event_top_status{flex-shrink:0;width:80px;height:80px;background:var(--scolor);border-radius:50%;color:#fff;text-align:center;display:flex;justify-content:center;align-items:center;margin:-17px 20px 0 0}
.form_tb .note{font-size:90%;color: #008f55;}
.form_tb th {width: 30%;}
.under main .event_top h3 {margin: 0;}
.wpContent img.alignleft {
    float: left;
    margin: 0 50px 0 0;
}
.wpContent img.alignright {
    float: right;
    margin: 0 0 0 50px;
}
.wpContent img.aligncenter {
    display: block;
    margin: 0 auto;
}
.wpcf7-form-control.wpcf7-radio, .wpcf7-form-control.wpcf7-checkbox {
    display: block;
    padding: 0 0 10px;
}
.wpcf7 form .wpcf7-response-output{font-size: 160%}
.under main .num .wpcf7-not-valid-tip{display: inline-block}

.fancy_title > span{opacity: 0;transform: translateY(5px);transition: all .1s;display: inline-block;}
.fancy_title > span.anim{opacity: 1;transform: translateY(0);}
.grecaptcha-badge{z-index: 3;opacity: 0}
/* FIREFOX ONLY */
@-moz-document url-prefix() {
    .form_tb .must{padding:2px 3px 3px 3px}
}

/* RESET */
.under main table:last-child,
.under main .list01:last-child,
.under main .list01 li:last-child,
.under main .list02:last-child,
.under main .list02 li:last-child,
.under main .list_step:last-child,
.under main section p:last-child,
.under main p:last-child,
.under main .frame01:last-child{margin-bottom: 0}
