/*==========================================================================*/
/*                                M A I N                                   */
/*==========================================================================*/
.sp320,
.sp375,
.sp425 {
	display: none;
}
::-webkit-scrollbar {
	display: none;
}
#artists {
	main {
		background-color: hsl(55.38deg 37.14% 93.14%) !important;
	}
}

#contact {
	main {
		min-height: calc(100vh - 100px);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
main {
	margin-top: 103px;
	position: relative;
	width: 100%;
	background-color: #fff;
}

.iMainvisual {
	position: relative;
	height: calc(100vh - 100px);
	background-color: #e8da5d;
	background-image: url(../images/bg-home.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	&--main {
		position: absolute;
		max-width: calc(1434px / 1920px * 100vw);
		width: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		gap: 50px;
	}
	&--img {
		position: relative;
		width: calc(510px / 1920px * 100vw);
	}
	&--btn {
		a {
			position: relative;
			display: inline-block;
			padding: 14px 24px;
			font-weight: bold;
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
			color: #fff;
			border: 2px solid #fff;
			transition: all 0.3s ease;

			&:hover {
				color: transparent;
				background-image: url(../images/bg-home.jpg);
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #fff;
					z-index: -1;
					border-radius: 0;
				}
			}
		}
	}
	&--content {
		position: relative;
		text-align: center;
		color: #fff;
		font-size: calc(30px / 1920px * 100vw);
		width: calc(100% - 510px - 50px);

		h2 {
			position: relative;
			font-size: 2em;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 6px;
			line-height: 1.4em;
			font-family: "FatFrank";
			letter-spacing: 0.1em;
			white-space: nowrap;
		}
		h6 {
			position: relative;
			font-size: 1em;
			line-height: 1.4em;
			font-family: "FatFrank";
			letter-spacing: 0.1em;
			margin-bottom: 45px;
		}
	}
	&--list {
		position: relative;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		li {
			width: 284px;
			height: 300px;
			position: relative;
			border-radius: 10px;
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
				border-radius: inherit;
			}
		}
	}
}

.linkfull {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 10;
	cursor: pointer;
	left: 0;
}
.--wrap {
	position: relative;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.--padding {
	padding: 80px 0;
}

.ih3 {
	position: relative;

	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 1.4em;
	letter-spacing: 0.02em;
	margin-bottom: 0.5em;
	z-index: 1;

	.jp {
		position: relative;
		font-family: var(--font-jp);
		color: #ff0000;
	}
	.en {
		position: relative;
		font-family: var(--font-kaizen);
		color: #000;
	}
}

.iDesc {
	position: relative;
	p {
		text-align: center;
	}
	margin-bottom: 3em;
}
.iPartner {
	position: relative;
	z-index: 1;

	&--list {
		position: relative;
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		width: calc(100% + 15px);

		li {
			position: relative;
			border: 6px solid rgba(0, 0, 0, 0.16);
			padding: 10px;
			width: calc(100% / 5 - 15px);
			border-radius: 6px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100px;
			background-color: #fff;
			box-shadow: 0px 1.79px 3.59px -0.9px rgba(0, 0, 0, 0.06),
				0px 3.59px 5.38px -0.9px rgba(49, 52, 58, 0.1);
			.img {
				position: absolute;
			}
		}
	}
}

.iMember {
	position: relative;
	&--list {
		position: relative;
		flex-wrap: wrap;
		width: calc(100% + 15px);
		margin: 0 -15px;
		.slick-slide {
			margin: 0 15px;
		}
		.slick-track {
		}
		.slick-list {
			overflow: unset;
		}
		li {
			position: relative;
			// width: calc(100% / 3 - 40px) !important;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			border: 2px solid #000;
			opacity: 0.5;
			&.slick-active {
				opacity: 1;
			}
			.img {
				position: relative;
				width: 100%;
				height: 600px;
				border-radius: inherit;
				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
					border-radius: inherit;
				}
			}
			.info {
				display: flex;
				position: absolute;
				width: calc(100% + 2px);
				padding: 10px 10px 10px;
				gap: 10px;
				z-index: 2;
				right: -10px;
				bottom: -20px;
				text-align: right;
				background-color: rgba(0, 0, 0, 1);
				border-radius: 5px;
				font-size: 18px;
			}
			.city {
				position: relative;
				width: calc(90px / 20px * 1em);
				border-radius: 5px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: inherit;
				}
			}
			.title {
				display: flex;
				flex-direction: column;
				position: relative;
				text-align: left;
				font-size: 1em;
				color: #fff;
				.name {
					position: relative;
					font-family: var(--font-kaizen);
					font-size: calc(30px / 20px * 1em);
				}
				.role {
					font-family: var(--font-kaizen);
					font-size: 1em;
				}
			}
		}
	}
	&--btn {
		position: absolute;
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		gap: 15px;
		width: calc(100% + 200px);
		z-index: 30;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		span {
			position: relative;
			width: 80px;
			padding: 10px 10px;
			border: 2px solid #000;
			background-color: #000;
			text-align: center;
			border-radius: 5px;
			font-size: 18px;
			color: #fff;
			cursor: pointer;
		}
	}
}

.iHomeGround {
	&--wrap {
		position: relative;
		display: flex;
		gap: 20px;
	}
	&--info {
		position: relative;
		flex: 1;

		h4 {
			font-size: 35px;
			text-align: center;
			font-family: var(--font-kaizen);
			text-transform: uppercase;
		}
	}

	&--map {
		position: relative;
		flex-shrink: 0;
		width: 50%;
		iframe {
			width: 100%;
			height: 400px;
			border-radius: 8px;
		}
	}
	&--cooperate {
		position: relative;
		display: flex;
		align-items: center;
		height: 160px;
		justify-content: center;
		gap: 10px;
	}
	&--icon {
		position: relative;
		height: 52px;
		img {
			height: 100%;
		}
	}
	&--main {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 100%;
		}
	}
}

.iBlog {
	position: relative;
	&--thumbnail {
		position: relative;
		width: 100%;
		max-height: 400px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&--content {
		position: relative;
		max-width: 1100px;
		background-color: #fff;
		margin-left: auto;
		margin-top: -100px;
		margin-right: auto;
		min-height: 100vh;
		padding: 30px;
		border-radius: 20px;
	}
	h2 {
		position: relative;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		font-family: var(--font-jp);
		text-transform: uppercase;
	}
}
