/*==========================================================================*/
/*                              H E A D E R                                 */
/*==========================================================================*/

header {
	// position: relative;
	position: fixed;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 99;
	height: 103px;
}
.iHeader {
	position: relative;
	background-color: rgba(255, 249, 249, 0.1);
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.04);
	display: flex;
	justify-content: space-between;
	height: 100%;
	padding: 10px 50px;
	&--logo {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 180px;
		}
	}
	&--menu {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		ul {
			position: relative;
			display: flex;
			align-items: center;
			gap: 20px;
			li {
				position: relative;

				a {
					position: relative;
					text-transform: uppercase;
					display: inline-block;
					text-decoration: none;
					font-family: var(--font-kaizen);
					font-weight: 400;
					font-style: normal;
					font-size: 20px;
					color: #000;
					&:hover {
						color: #e8da5d;
					}
				}
				&.active {
					a {
						color: #e8da5d;
					}
				}
			}
		}
	}
	&--hamburger {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		display: none;
	}
}

.hamburger {
	position: relative;
	width: 1em;
	height: 1em;
	font-size: 34px;
	transition: all 0.3s ease;
	cursor: pointer;

	&-line {
		position: absolute;
		right: 0;
		width: 100%;
		height: 0.125em;
		border-radius: 0.125em;
		background: #fff;
		transition: inherit;

		&:nth-child(1) {
			top: 0.125em;

			.hamburger.is-active &,
			.w-nav-button.w--open & {
				top: 50%;
				transform: translateY(-50%) rotateZ(-135deg);
			}
		}

		&:nth-child(2) {
			top: 0.438em;

			.hamburger.is-active &,
			.w-nav-button.w--open & {
				right: 50%;
				width: 0;
			}
		}

		&:nth-child(3) {
			top: 0.75em;
			width: 0.625em;

			.hamburger.is-active &,
			.w-nav-button.w--open & {
				top: 50%;
				width: 100%;
				transform: translateY(-50%) rotateZ(135deg);
			}
		}
	}
}
