/*==========================================================================*/
/*                     H O V E R    &    P C    O N L Y                     */
/*==========================================================================*/

@media screen and (min-width: 1921px) {
	.to-top {
		right: calc(50% - 960px + 20px);
	}
}

/* END screen-min:1921px */

@media screen and (min-width: 751px) {
	#lightboxOverlay,
	#lightbox {
		min-width: var(--content-width) !important;
		width: 100% !important;
	}

	.sp {
		display: none !important;
	}

	a:hover {
		text-decoration: none;
	}

	.to-top a:hover {
		opacity: 0.7;
	}
}

/* END screen-min:751px */

@media screen and (min-width: 751px) and (max-width: 1919px) {
}

/* END screen-min:751px && screen-max:1919px */

@media screen and (min-width: 751px) and (max-width: 1560px) {
}

/* END screen-min:751px && screen-max:1650px */

@media screen and (min-width: 751px) and (max-width: 1240px) {
	.iList.fullWidth {
		width: 100vw;
	}
	.iList.fullWidth.gap .iList--main li {
		width: calc(50% - var(--gap));
	}
	.iList {
		width: 100vw;
		&.artists {
			.iList {
				&--wrap {
					max-width: 100%;
				}
				&--main {
					gap: 10px;
					width: calc(100% + 10px);
					li {
						width: calc(100% / 2 - 10px);
					}
				}
				&--name {
					h4 {
						font-size: 20px;
					}
				}
			}
		}
	}
}

/* END screen-min:751px && screen-max:1440px */
