/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/

@media screen and (min-width: 1px) and (max-width: 750px) {
	#wrapper {
		min-width: unset !important;
	}

	.pc {
		display: none !important;
	}

	* {
		column-gap: none !important;
		row-gap: none !important;
	}

	.to-top {
		bottom: 100px;

		> a {
			@include size(50px);

			&::before {
				inset: 4px 0 0;
				margin: auto;
				@include size(10px);
			}
		}
	}

	.sp320,
	.sp375,
	.sp425 {
		display: block;
	}
	header {
		height: 60px;
	}

	body {
		&.open-nav {
			overflow: hidden;
			.iHeader--menu {
				left: 0;
			}
		}
	}
	.iHeader {
		padding: 10px 10px;
		&--hamburger {
			display: block;
		}
		&--logo {
			img {
				height: 40px;
			}
		}
		&--menu {
			position: fixed;
			top: 60px;
			left: -100%;
			width: 100%;
			height: calc(100% - 60px);
			background-color: #000001;
			z-index: 100;
			border-top: 1px solid #fff;
			transition: all 0.3s ease-in-out;
			ul {
				flex-direction: column;
				width: 100%;
				li {
					a {
						font-size: 34px;
					}
				}
			}
		}
	}

	main {
		margin-top: 60px;
	}

	.iMainvisual {
		height: calc(100vh - 60px);
		display: flex;
		align-items: center;
		justify-content: center;
		&--main {
			width: 100%;
			position: relative;
			max-width: 100%;
			padding: 40px 10px;
			flex-direction: column;
			transform: none;
			top: unset;
			left: unset;
			gap: 20px;
		}
		&--img {
			position: relative;
			width: 200px;
		}

		&--content {
			width: 100%;
		}
		&--list {
			position: relative;
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 450px;
			margin: 0 auto;
			li {
				width: 120px;
				height: 120px;
			}
		}
	}

	//END STICKY FOOTER
}

/* END min-width:1px && screen-max:750px */

@media screen and (min-width: 375px) and (max-width: 750px) {
	.sp320 {
		display: none;
	}
}

/* END min-width:375px && screen-max:750px */

@media screen and (min-width: 425px) and (max-width: 750px) {
	.sp375 {
		display: none;
	}
}

/* END min-width:425px && screen-max:750px */

@media screen and (min-width: 475px) and (max-width: 750px) {
	.sp425 {
		display: none;
	}
}

/* END min-width:475px && screen-max:750px */

@media screen and (min-width: 525px) and (max-width: 750px) {
	.iList {
		&.fullWidth {
			padding: 0 0;

			.iList {
				&--wrap {
					max-width: 100%;
				}
				&--main {
					gap: 0;
					li {
						width: calc(100%);
					}
				}
			}
			&.gap {
				padding: 10px;
				width: 100%;
				.iList {
					&--main {
						gap: var(--gap);
						width: calc(100% + 10px);
						--gap: 10px;

						li {
							width: calc(100% / 2 - var(--gap));
						}
					}
				}
			}
		}
		&.artists {
			.iList {
				&--wrap {
					max-width: 100%;
				}
				&--main {
					gap: 10px;
					width: 100%;
					li {
						width: calc(100% / 2 - 10px);
					}
				}
				&--name {
					h4 {
						font-size: 20px;
					}
				}
			}
		}
		&.releases {
			.iList {
				&--wrap {
					max-width: 100%;
				}
				&--main {
					width: 100%;
					li {
						width: calc(100% / 2);
					}
				}
				&--name {
					h4 {
						font-size: 20px;
					}
				}
			}
		}
	}
}

/* END min-width:525px && screen-max:750px */

/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/

/* EDGE  */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
}

@supports (-webkit-touch-callout: none) {
	/* CSS specific to iOS devices */
}

/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/
